<section class="page-banner">
    <div class="container">
        <div class="page-banner-content">
            <h1>Training Lab Gallery</h1>
            <p>Home <span>/</span> Gallery</p>
        </div>
    </div>
</section>

<section class="py-5 bg-light">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-4 col-md-6" data-aos="zoom-in"><img src="/static/images/courses1.png" class="img-fluid rounded shadow-sm w-100" alt="Lab View 1"></div>
            <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="100"><img src="/static/images/courses2.png" class="img-fluid rounded shadow-sm w-100" alt="Lab View 2"></div>
            <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="200"><img src="/static/images/courses3.png" class="img-fluid rounded shadow-sm w-100" alt="Lab View 3"></div>
            <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="300"><img src="/static/images/about.png" class="img-fluid rounded shadow-sm w-100" alt="Lab View 4"></div>
            <div class="col-lg-8 col-md-12" data-aos="zoom-in" data-aos-delay="400"><img src="/static/images/hero.png" class="img-fluid rounded shadow-sm w-100" style="max-height: 255px; object-fit: cover;" alt="Panels View"></div>
        </div>
    </div>
</section>